.settings-list {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
  .settings__setting {
    padding: 20px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    i {
      font-size: 22px;
      margin-right: 15px;
      opacity: 0.9;
    }
    .settings__setting-column {
      &:first-child {
        display: flex;
        .nav__noti {
          margin-left: 10px;
        }
      }
      &:last-child {
        opacity: 0.5;
      }
    }
  }
}
