@keyframes fadeInDownup {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInLeftright {
  from {
    transform: translateX(-70px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInRightleft {
  from {
    transform: translateX(70px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
#chat-screen {
  background-color: #abc1d1;
  height: 200vh;
}
#chat-screen .status-bar {
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  background-color: #abc1d1;
  box-sizing: border-box;
  position: fixed;
  top: 5px;
  width: 100%;
}
#chat-screen .main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}
#chat-screen .main-chat .chat__timestamp {
  color: #fff;
  font-size: 14px;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 15px;
  margin-bottom: 25px;
  animation: fadeInDownup 0.5s linear;
}
#chat-screen .main-chat .chat__message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
  animation: fadeInLeftright 0.5s linear forwards;
  animation-delay: 0.7s;
}
#chat-screen .main-chat .chat__message-row img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 12px;
}
#chat-screen .main-chat .chat__message-row .message-row-content .message-author {
  display: block;
  color: rgb(100, 100, 100);
  font-size: 15px;
  margin-bottom: 8px;
}
#chat-screen .main-chat .chat__message-row .message-row-content .message-bubble {
  display: flex;
  align-items: flex-end;
}
#chat-screen .main-chat .chat__message-row .message-row-content .message-bubble .message-text {
  background-color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 7px;
}
#chat-screen .main-chat .chat__message-row .message-row-content .message-bubble .message-text .message-present-img {
  padding: 7px 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
#chat-screen .main-chat .chat__message-row .message-row-content .message-bubble .message-text .message-present-btn {
  width: 100%;
  font-size: 15px;
  color: rgb(155, 155, 155);
  padding: 8px 0;
  background-color: transparent;
  border: 1px solid rgb(115, 115, 115);
  border-radius: 15px;
}
#chat-screen .main-chat .chat__message-row .message-row-content .message-bubble .message-time {
  color: rgb(100, 100, 100);
  font-size: 13px;
}
#chat-screen .main-chat .chat__message-row--own {
  opacity: 0;
  animation: fadeInRightleft 0.5s linear forwards;
  animation-delay: 1.5s;
  justify-content: flex-end;
}
#chat-screen .main-chat .chat__message-row--own .message-row-content .message-bubble {
  flex-direction: row-reverse;
}
#chat-screen .main-chat .chat__message-row--own .message-row-content .message-bubble .message-text {
  margin-right: 0;
  margin-left: 7px;
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
}
#chat-screen .main-chat .chat__message-row--next {
  opacity: 0;
  animation: fadeInLeftright 0.5s linear forwards;
  animation-delay: 2.2s;
}
#chat-screen .reply {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
}
#chat-screen .reply:focus-within {
  transform: translateY(80px);
}
#chat-screen .reply:focus-within .reply__column:first-child, #chat-screen .reply:focus-within .reply__column-icons {
  opacity: 0;
}
#chat-screen .reply:focus-within input {
  transform: scaleX(1.25) translateX(3.5%) translateY(-80px);
}
#chat-screen .reply i {
  opacity: 0.8;
}
#chat-screen .reply .reply__column:first-child {
  width: 5%;
  transition: opacity 0.3s ease-in-out;
}
#chat-screen .reply .reply__column:last-child {
  width: 95%;
  display: flex;
}
#chat-screen .reply .reply__column:last-child .reply__column-icons {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
#chat-screen .reply .reply__column:last-child .reply__column-icons > i {
  margin: 0 10px;
}
#chat-screen .reply .reply__column:last-child .reply__column-icons button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
}
#chat-screen .reply .reply__column:last-child .reply__column-icons button i {
  opacity: 1;
}
#chat-screen .reply .reply__column:last-child .reply__column-icons button:focus, #chat-screen .reply .reply__column:last-child .reply__column-icons button:active {
  outline: none;
}
#chat-screen .reply .reply__column input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=chatroom.css.map */
